export/Node-Red_flows.json
[
    {
        "id": "96f7ee8f3734316a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3d0581966d010574",
        "type": "mqtt-broker",
        "name": "TD (Invite-ESIEA)",
        "broker": "10.8.128.250",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "spBv1.0/ESIEA/DBIRTH/raspberry/Pdevice_grp13",
        "birthQos": "0",
        "birthPayload": "\"metrics\": {\"name\": \"Pdevice_grp13\", \"datatype\": 12, \"stringValue\": \"hello device\"}",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "spBv1.0/ESIEA/NDEATH/raspberry/Pdevice_grp13",
        "willQos": "0",
        "willPayload": "\"metrics\": {\"name\": \"Pdevice_grp13\", \"datatype\": 12, \"stringValue\": \"device died!\"}",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "def890c39157d613",
        "type": "protobuf-file",
        "protopath": "D:\\ESIEA\\5A\\payload.proto",
        "watchFile": true,
        "keepCase": false
    },
    {
        "id": "730f046c32ab6e23",
        "type": "mqtt-broker",
        "name": "Groov",
        "broker": "10.8.128.239",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c0429a5bf5d7855b",
        "type": "mqtt in",
        "z": "96f7ee8f3734316a",
        "name": "ESIEA/grp13",
        "topic": "ESIEA/grp13/#",
        "qos": "2",
        "datatype": "json",
        "broker": "3d0581966d010574",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 320,
        "wires": [
            [
                "2dc98bc11e5e233a",
                "6db1b82c619bc3a4",
                "47c507567a8c7d3c"
            ]
        ]
    },
    {
        "id": "6db1b82c619bc3a4",
        "type": "debug",
        "z": "96f7ee8f3734316a",
        "name": "broker input",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "c456c60bf9002155",
        "type": "mqtt out",
        "z": "96f7ee8f3734316a",
        "name": "DDATA (Scada)",
        "topic": "spBv1.0/ESIEA/DDATA/raspberry/Pdevice_grp13",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3d0581966d010574",
        "x": 1340,
        "y": 240,
        "wires": []
    },
    {
        "id": "2dc98bc11e5e233a",
        "type": "function",
        "z": "96f7ee8f3734316a",
        "name": "DDATA template",
        "func": "var temperature = parseFloat(msg.payload.temperature);\nvar humidity = parseFloat(msg.payload.humidity);\nvar timestamp = Date.now();\n\nmsg.payload = {\n    \"timestamp\": timestamp,\n    \"metrics\": [{\n        \"name\": \"temperature\",\n        \"alias\": 0,\n        \"timestamp\": timestamp,\n        \"datatype\": 9,\n        \"isNull\": false,\n        \"floatValue\": temperature,\n    },\n    {\n        \"name\": \"humidity\",\n        \"alias\": 1,\n        \"timestamp\": timestamp,\n        \"datatype\": 9,\n        \"isNull\": false,\n        \"floatValue\": humidity,\n    }]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 320,
        "wires": [
            [
                "08a8a847c8bae8f1",
                "ebbe2f1490ed0318"
            ]
        ]
    },
    {
        "id": "ebbe2f1490ed0318",
        "type": "debug",
        "z": "96f7ee8f3734316a",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 240,
        "wires": []
    },
    {
        "id": "08a8a847c8bae8f1",
        "type": "encode",
        "z": "96f7ee8f3734316a",
        "name": "Encode",
        "protofile": "def890c39157d613",
        "protoType": "Payload",
        "x": 1120,
        "y": 320,
        "wires": [
            [
                "9fcfec136d47b1e2",
                "e112365bc6c19da1",
                "f75e845b5699c2de"
            ]
        ]
    },
    {
        "id": "9fcfec136d47b1e2",
        "type": "debug",
        "z": "96f7ee8f3734316a",
        "name": "msg encoded",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 400,
        "wires": []
    },
    {
        "id": "e112365bc6c19da1",
        "type": "decode",
        "z": "96f7ee8f3734316a",
        "name": "Decode",
        "protofile": "def890c39157d613",
        "protoType": "Payload",
        "x": 1320,
        "y": 320,
        "wires": [
            [
                "9aca78200f768e42"
            ]
        ]
    },
    {
        "id": "9aca78200f768e42",
        "type": "debug",
        "z": "96f7ee8f3734316a",
        "name": "msg decoded",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 320,
        "wires": []
    },
    {
        "id": "f75e845b5699c2de",
        "type": "mqtt out",
        "z": "96f7ee8f3734316a",
        "name": "DDATA (Raspberry)",
        "topic": "spBv1.0/ESIEA/DDATA/raspberry/Pdevice_grp13",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3d0581966d010574",
        "x": 1350,
        "y": 160,
        "wires": []
    },
    {
        "id": "6424c3bb63e0b097",
        "type": "mqtt out",
        "z": "96f7ee8f3734316a",
        "name": "STATE (Raspberry)",
        "topic": "spBv1.0/STATE/Pdevice_grp13",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3d0581966d010574",
        "x": 1150,
        "y": 480,
        "wires": []
    },
    {
        "id": "47c507567a8c7d3c",
        "type": "function",
        "z": "96f7ee8f3734316a",
        "name": "STATE template",
        "func": "var timestamp = Date.now();\n\nmsg.payload = {\n    \"online\": true,\n    \"timestamp\": timestamp,\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 400,
        "wires": [
            [
                "6424c3bb63e0b097"
            ]
        ]
    },
    {
        "id": "6d7638037da28284",
        "type": "mqtt out",
        "z": "96f7ee8f3734316a",
        "name": "STATE (Scada)",
        "topic": "spBv1.0/ESIEA/DDATA/raspberry/Pdevice_grp13",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "730f046c32ab6e23",
        "x": 1140,
        "y": 400,
        "wires": []
    }
]